.zcompdump
bookmarks
gdrive
k2pdfopt
bncal
plugins
web_scrape
pys.py
*.jnlp


update info

git remote remove origin
git remote set-url origin https://oauth2:token@git.domain/user/project.git


git remote add origin https://token@github.com/user/project.git
