#!/usr/bin/env sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

dwmblocks &
setbg &			# set the background with the `setbg` script
numlockx on &
ibus-daemon -xdr &
xcompmgr &		# xcompmgr for transparency
dunst &			# dunst for notifications
unclutter &		# Remove mouse when idle
clipmenud &     # clipboardmanager
redshift &
km &
xset r rate 300 50
#sxhkd -m 1 &		# Bind keys with sxhkd
# slstatus &

