*/
    /*Darculized Theme*/
/*
"#000000", 
"#ff5555", 
"#50fa7b", 
"#f1fa8c", 
"#bd93f9", 
"#ff79c6", 
"#8be9fd", 
"#bbbbbb", 

"#44475a",
"#ff5555",
"#50fa7b",
"#f1fa8c",
"#bd93f9",
"#ff79c6",
"#8be9fd",
"#ffffff",

[255] = 0,

"#282a36",
"#f8f8f2",

 };

unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 257;
static unsigned int defaultrcs = 257;

*/

/* solarized */
"#002b36", 
"#dc322f",
"#859900",
"#b58900",
"#268bd2",
"#6c71c4",
"#2aa198",
"#93a1a1",

"#657b83",
"#dc322f",
"#859900",
"#b58900",
"#268bd2",
"#6c71c4",
"#2aa198",
"#fdf6e3",

[255] = 0,

"#002b36",
"#93a1a1",
};

unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 3;
static unsigned int defaultrcs = 0;
    /*Grubbox Theme*/
/*
"#282828", 
"#cc241d",
"#98971a",
"#d79921",
"#458588",
"#b16286",
"#689d6a",
"#a89984",

"#928374",
"#fb4934",
"#b8bb26",
"#fabd2f",
"#83a598",
"#d3869b",
"#8ec07c",
"#ebdbb2",

[255] = 0,

"#282828",
"#ebdbb2",
"#add8e6",
};

unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 258;
static unsigned int defaultrcs = 0;
*/

/* Brogrammer */
"#1f1f1f",
"#f81118",
"#2dc55e",
"#ecba0f",
"#2a84d2",
"#4e5ab7",
"#1081d6",
"#d6dbe5",
         
"#d6dbe5",
"#de352e",
"#1dd361",
"#f3bd09",
"#1081d6",
"#5350b9",
"#0f7ddb",
"#ffffff",

[255] = 0,
"#131313",
"#d6dbe5",
};
unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 3;
static unsigned int defaultrcs = 0;

/* Dracula */
"#44475a",
"#ff5555",
"#50fa7b",
"#ffb86c",
"#8be9fd",
"#bd93f9",
"#ff79c6",
"#94A3A5",
         
"#000000",
"#ff5555",
"#50fa7b",
"#ffb86c",
"#8be9fd",
"#bd93f9",
"#ff79c6",
"#ffffff",
         
[255] = 0,
"#282a36",
"#94A3A5",

};
unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 3;
static unsigned int defaultrcs = 0;
