[Desktop Entry]
Name=dwm
Comment=suckless dynamic window manager
Exec=dwm
Type=XSession
X-LightDM-DesktopName=DWM
DesktopNames=dwm

#Put this in /usr/share/xsessions/; create if doesn't exist
